# P2: Titanic Classification

### Aufgabe 1

In [1]:
import pandas as pd
data = pd.read_csv("../data/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
features = ["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch"]
data_features = data[features]
data_features.head()

   Survived  Pclass   Age     Fare  SibSp  Parch
0         0       3  22.0   7.2500      1      0
1         1       1  38.0  71.2833      1      0
2         1       3  26.0   7.9250      0      0
3         1       1  35.0  53.1000      1      0
4         0       3  35.0   8.0500      0      0

In [3]:
print(data_features.shape)
filtered_data = data_features.dropna()
print(filtered_data.shape)
filtered_data.head()

(891, 6)
(714, 6)

   Survived  Pclass   Age     Fare  SibSp  Parch
0         0       3  22.0   7.2500      1      0
1         1       1  38.0  71.2833      1      0
2         1       3  26.0   7.9250      0      0
3         1       1  35.0  53.1000      1      0
4         0       3  35.0   8.0500      0      0

### Aufgabe 2

In [4]:
features = filtered_data.drop("Survived", axis=1)
labels = filtered_data["Survived"]
features.head()

   Pclass   Age     Fare  SibSp  Parch
0       3  22.0   7.2500      1      0
1       1  38.0  71.2833      1      0
2       3  26.0   7.9250      0      0
3       1  35.0  53.1000      1      0
4       3  35.0   8.0500      0      0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)
print("Trainingsdatenpunkte: ", len(X_train))
print("Testdatenpunkte: ", len(X_test))

Trainingsdatenpunkte:  571
Testdatenpunkte:  143

In [6]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [7]:
predictions = logisticRegr.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6993006993006993

In [9]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.723404255319149

In [10]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.53125

### Aufgabe 3

In [11]:
features = ["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch", "Sex", "Embarked"]
filtered_data = data[features].dropna()
print("Shape:", filtered_data.shape)

Shape: (712, 8)

Mit Gender-Feature:

In [12]:
gender_data = filtered_data.copy()
gender_data["Female"] = gender_data["Sex"] == "female"
gender_data.head(3)

   Survived  Pclass   Age     Fare  SibSp  Parch     Sex Embarked  Female
0         0       3  22.0   7.2500      1      0    male        S   False
1         1       1  38.0  71.2833      1      0  female        C    True
2         1       3  26.0   7.9250      0      0  female        S    True

In [13]:
features = gender_data.drop(["Survived", "Sex", "Embarked"], axis=1)
labels = gender_data["Survived"]

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)

logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
print("Accuracy:", accuracy_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))

Accuracy: 0.8181818181818182
Precision: 0.8431372549019608
Recall: 0.7049180327868853

Mit Gender-Feature und Embarked-Feature:

In [14]:
embarked_data = gender_data.copy()
embarked_data["Embarked_C"] = embarked_data["Embarked"] == "C"
embarked_data["Embarked_Q"] = embarked_data["Embarked"] == "Q"
embarked_data["Embarked_S"] = embarked_data["Embarked"] == "S"
embarked_data.head(3)

,Survived,Pclass,Age,Fare,SibSp,Parch,Sex,Embarked,Female,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,7.2500,1,0,male,S,False,False,False,True
1,1,1,38.0,71.2833,1,0,female,C,True,True,False,False
2,1,3,26.0,7.9250,0,0,female,S,True,False,False,True

In [15]:
features = embarked_data.drop(["Survived", "Sex", "Embarked"], axis=1)
labels = embarked_data["Survived"]
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)

logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
print("Accuracy:", accuracy_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))

Accuracy: 0.8181818181818182
Precision: 0.8431372549019608
Recall: 0.7049180327868853

Wir sehen, dass das `Embarked`-Feature keine zusätzliche Verbesserung bringt.

### Bonus

In [16]:
featureWeights = logisticRegr.coef_[0]
print(featureWeights)
featureNames = X_train.columns
print(featureNames)

[-1.06629036e+00 -3.96130245e-02  2.36977856e-03 -4.14637976e-01
 -3.39479899e-02  2.41698132e+00  3.97533300e-01 -2.76791945e-01
 -1.21823060e-01]
Index(['Pclass', 'Age', 'Fare', 'SibSp', 'Parch', 'Female', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [17]:
df = pd.DataFrame(data={'feature': featureNames, 'importance': featureWeights})
df["importanceAbs"] = df["importance"].abs()
df.sort_values("importanceAbs", ascending=False)

      feature  importance  importanceAbs
5      Female    2.416981       2.416981
0      Pclass   -1.066290       1.066290
3       SibSp   -0.414638       0.414638
6  Embarked_C    0.397533       0.397533
7  Embarked_Q   -0.276792       0.276792
8  Embarked_S   -0.121823       0.121823
1         Age   -0.039613       0.039613
4       Parch   -0.033948       0.033948
2        Fare    0.002370       0.002370

Je kleiner der Wert des absoluten Gewichts, desto unwichtiger ist das Feature und umgekehrt. Daher ist `Fare` das unbedeutenste Feature und `Female` das wichtigste Feature.